<!-- menu trai hang san xuat-->    
<div class="container col-md-3">
  <%= render "home/danhsach_hangsanxuat"%>  
</div>
<!-- ==================== menu chinh =============-->
<div class="container col-md-6">
  <%=render "home/danhsach_sanpham_item"%>			
</div>
<!-- menu phai cac san pham pho bien-->	
<div class="container col-md-3">
  <div class="text-center">
    Hãy là người sành điệu!
    <%= image_tag("menu_phai.jpg" , :width=>200 , :height=>200) %>
  </div>
</div>
